
<footer class="pt-16 pb-8 flex flex-col items-center justify-center">
  <div class="mx-auto max-w-2xl">
    <p class="text-slate-700 py-2 text-center">
      <a class="hover:underline" href="https://www.freec.asia" target="_blank" rel="noopener noreferrer nofoll/ow">freeC</a> 💙
    </p>
  </div>
</footer>
